:root {
  --light-blue-50: #e1f5fe;
  --light-blue-100: #b3e5fc;
  --light-blue-200: #81d4fa;
  --light-blue-300: #4fc3f7;
  --light-blue-400: #29b6f6;
  --light-blue-500: #03a9f4;
  --light-blue-600: #039be5;
  --light-blue-700: #0288d1;
  --light-blue-800: #0277bd;
  --light-blue-900: #01579b;
  --light-blue-a100: #80d8ff;
  --light-blue-a200: #40c4ff;
  --light-blue-a400: #00b0ff;
  --light-blue-a700: #0091ea;
  --orange-100: #ffe0b2;
  --orange-200: #ffcc80;
  --orange-300: #ffb74d;
  --orange-400: #ffa726;
  --orange-500: #ff9800;
  --orange-600: #fb8c00;
  --orange-700: #f57c00;
  --orange-800: #ef6c00;
  --orange-900: #e65100;
  --orange-a100: #ffd180;
  --orange-a200: #ffab40;
  --orange-a400: #ff9100;
  --orange-a700: #ff6d00;

  --black-87: #202020;
  --black-54: #727272;
  --black-26: #b8b8b8;
  --black-12: #dadada;

  --primary-color: var(--light-blue-500);
  --accent-color: var(--orange-a700);
  --background-color: var(--light-blue-200);
  --text-color: var(--black-87);
  --detail-text-color: var(--black-54);
  --shadow-color: var(--black-54);
}
