html {
  font-size: 1em;
}

body {
  background-color: var(--background-color);
  font-family: Arial;
  color: var(--text-color);
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  padding: 5px 0;
  margin: 5px;
  text-align: center;
  margin: 10px 0 0 0;
}

h1 a {
  color: var(--gray-700);
  text-shadow: -2px -2px 0px var(--gray-500), 1px 1px 1px var(--gray-900);
}

h2 {
  margin: 5px 40px;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid var(--gray-700);
  padding-bottom: 15px;
  padding-top: 5px;
  color: var(--accent-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
  margin-top: 5px;
}

#root {
  width: 400px;
  margin: auto;
}

.topbar {
  margin: 10px 0 0 0;
}

.card {
  background-color: var(--text-background);
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

.drink-list {
  padding: 5px 15px;
}

.drink-headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  margin-right: 4px;
}

.drink-headline a {
  font-weight: bold;
  font-size: 1.2em;
}

.drink-list li {
  border-bottom: 1px solid var(--gray-700);
  padding: 10px 0;
}

.drink-ingredient-list {
  margin-top: 15px;
  padding-bottom: 5px;
}

.drink-ingredient-list li {
  padding: 0 10px 5px 10px;
  justify-content: start;
  display: grid;
}

.drink-ingredient__amount {
  grid-column-start: 1;
}

.drink-ingredient__name {
  grid-column-start: 2;
  padding-left: 0.5em;
}

.source {
  color: var(--detail-text-color);
  margin-left: 5px;
}

.source,
.ingredients {
  font-size: 0.8rem;
}

@media (max-device-width: 800px) {
  #root {
    width: 95%;
  }
}
